<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<property name="logDir" value="C:/Users/takel/Desktop/myhealthプロジェクト/" />
	<property name="fileName" value="testlog" />
	<property name="format1" value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%-4p] [%c] %m%n" />
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	      <fileNamePattern>${logDir}${fileName}.%d{yyyy-MM-dd}.log</fileNamePattern>
	    </rollingPolicy>
	    <encoder>
	      <pattern>${format1}</pattern>
	    </encoder>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	    <encoder>
	      <pattern>${format1}</pattern>
	    </encoder>
	</appender>

	<root level="info">
    	<appender-ref ref="FILE" />
    	<appender-ref ref="STDOUT" />
  	</root>
</configuration>